PORT=5001

# Nhập chuỗi kết nối MongoDB Atlas của bạn vào đây
MONGODB_CONNECTIONSTRING=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/dbname

# Secret key ngẫu nhiên dùng cho JWT (mỗi máy có thể tự tạo string bất kỳ)
ACCESS_TOKEN_SECRET=your_jwt_secret_here

# Khóa VAPID cho Notification
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_MAILTO=mailto:your_email@example.com